In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/iris.csv")

In [ ]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
data.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
1             4.9          3.0           1.4          0.2      setosa
109           7.2          3.6           6.1          2.5   virginica
97            6.2          2.9           4.3          1.3  versicolor
22            4.6          3.6           1.0          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
14            5.8          4.0           1.2          0.2      setosa
37            4.9          3.1           1.5          0.1      setosa
123           6.3          2.7           4.9          1.8   virginica
129           7.2          3.0           5.8          1.6   virginica
6             4.6          3.4           1.4          0.3      setosa

In [ ]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
print(data)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
 data["species"].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [ ]:
sum_data = data["sepal_length"].sum()
mean_data = data["sepal_length"].mean()
median_data = data["sepal_length"].median()
print("Sum:",sum_data, "\nMean:", mean_data, "\nMedian:",median_data)

Sum: 876.5
Mean: 5.843333333333334
Median: 5.8

In [ ]:
sum_d=data["petal_length"].sum()
mean_d=data["petal_length"].mean()
median_d=data["petal_length"].median()
print("\nsum:",sum_d,"\nmean:",mean_d,"\nmedian:",median_d)

sum: 563.8
mean: 3.758666666666666
median: 4.35

In [ ]:
min_data=data["petal_width"].min()
max_data=data["petal_width"].max()

print("Minimum:",min_data, "\nMaximum:", max_data)

Minimum: 0.1
Maximum: 2.5

In [ ]:
cols = data.columns

In [ ]:
cols = data.columns
print(cols)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
data.style

In [ ]:
species_list = ["Iris-setosa", "Iris-versicolor", "Iris-virginica"]
filtered_df = data[data["species"].isin(species_list)]
for species in species_list:
    print(f"Statistics for {species}:")
    species_df = filtered_df[filtered_df["species"] == species].drop(columns=["species"])
    print(species_df.describe(percentiles=[.25, .5, .75]))
    print("\n")

Statistics for Iris-setosa:
       sepal_length  sepal_width  petal_length  petal_width
count           0.0          0.0           0.0          0.0
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN


Statistics for Iris-versicolor:
       sepal_length  sepal_width  petal_length  petal_width
count           0.0          0.0           0.0          0.0
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN


Statistics for Iris-virginica:
       sepal_length  sepal_width  petal_length  petal_width
count           0.0          0.0           0.0          0.0
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN

In [ ]:
columns = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]

In [ ]:
species_list = ["Iris-setosa", "Iris-versicolor", "Iris-virginica"]
filtered_df = data[data["species"].isin(species_list)]

In [ ]:
for species in species_list:
    print(f"Statistics for {species}:")
    species_df = filtered_df[filtered_df["species"] == species].drop(columns=["species"])
    print(species_df.describe(percentiles=[.25, .5, .75]))
    print("Standard Deviation:")
    print(species_df.std())
    print("\n")

Statistics for Iris-setosa:
       sepal_length  sepal_width  petal_length  petal_width
count           0.0          0.0           0.0          0.0
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN
Standard Deviation:
sepal_length   NaN
sepal_width    NaN
petal_length   NaN
petal_width    NaN
dtype: float64


Statistics for Iris-versicolor:
       sepal_length  sepal_width  petal_length  petal_width
count           0.0          0.0           0.0          0.0
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN
Standard Deviation:
sepal_length   NaN
sepal_width    NaN
petal_length   NaN
petal_width    NaN
dtype: float64


Statistics for Iris-virginica:
       sepal_length  sepal_width  petal_length  petal_width
count           0.0          0.0           0.0          0.0
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN
Standard Deviation:
sepal_length   NaN
sepal_width    NaN
petal_length   NaN
petal_width    NaN
dtype: float64